# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
!.gitkeep

# Node / Next.js
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Divers
.DS_Store